@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --header-color: blue;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.header{
    max-height: 36px;
    background-color: var(--header-color);
    margin: 12px;
}

.headerLeft{
    display: flex;
    justify-content: flex-start;
}

.headerRight{
    display: flex;
    justify-content: flex-start;
}
